:root {
    /* Colors */
    --primary-bg-color: #FAFAFA;         /* White */
    --heading-color: #28283D;            /* Slate 900 */
    --paragraph-color: #87879D;          /* Slate 600 */
    --button-one-bg-color: #4D96A9;      /* Cyan 600 */
    --button-par-color: #FAFAFA;         /* White */
    --button-one-version-color: #8FE3F9; /* Cyan 300 */
    --button-two-bg-color: #855FB1;      /* Purple 600 */
    --button-two-version-color: #D9B8FF; /* Purple 300 */
    --title-color: #4D96A9;              /* Cyan 600 */
    --footer-color: #FAFAFA;             /* White */

    /* Font Styles */
    --ff: 'Red Hat Display', sans-serif;
    --fs: 1rem;
    --fw: 900;

    --hero-fs: 2.5rem;
    --hero-lh: 110%;

    --paragraph-fw: 500;
    --primary-heading-lh: 150%;

    --button-lh: 150%;

    --title-fs: .75rem;
    --title-lh: 110%;
    --title-ls: .25rem; /* Letter Spacing */

    --heading-fs: 2rem;
    --heading-lh: 110%;
}

/* #region Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

input, button, textarea, select {
    font: inherit;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* #endregion Reset */

/* general styles */
body {
    background-color:var(--primary-bg-color);
    font-family: var(--ff);
    font-size: var(--fs);

    display: grid;
    justify-content: center;
    max-width: 100vh;
    text-align: center;  
}

/* #region specific styles */
main {
    display: grid;
    margin: 2rem;
}

h1 {
    font-size: var(--hero-fs);
    font-weight: var(--fw);
    line-height: var(--hero-lh);
    color: var(--heading-color);

    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

p{
    color: var(--paragraph-color);
    font-size: var(--fs);
    font-weight: var(--paragraph-fw);
}

.hero {
    margin-top: 4rem;
}


/* #endregion */

