:root {
    /* Colors */
    --primary-bg-color: #FAFAFA;         /* White */
    --heading-color: #28283D;            /* Slate 900 */
    --paragraph-color: #87879D;          /* Slate 600 */
    --button-one-bg-color: #4D96A9;      /* Cyan 600 */
    --button-par-color: #FAFAFA;         /* White */
    --button-one-version-color: #8FE3F9; /* Cyan 300 */
    --button-one-hover-bg-color: #71C0D4;/* Cyan ? */
    --button-two-bg-color: #855FB1;      /* Purple 600 */
    --button-two-version-color: #D9B8FF; /* Purple 300 */
    --button-two-hover-bg-color: #B18BDD;/* Purple ? */
    --title-color: #4D96A9;              /* Cyan 600 */
    --footer-color: #FAFAFA;             /* White */
    --footer-rgb: 77, 150, 169;            /* Cyan 600 */
    --footer-opacity: 0.9;

    /* Font Styles */
    --ff: 'Red Hat Display', sans-serif;
    --fs: 1rem;
    --fw: 900;

    --hero-fs: 2.5rem;
    --hero-fs-tablet: 3rem;
    --hero-fs-desktop: 4rem;
    --hero-lh: 110%;

    --paragraph-fs-desktop: 1.125rem;
    --paragraph-fw: 500;
    --primary-heading-lh: 150%;

    --button-lh: 150%;

    --title-fs: .75rem;
    --tittle-fs-tablet: .875rem;
    --title-lh: 110%;
    --title-ls: .25rem; /* Letter Spacing */

    --heading-fs: 2rem;
    --heading-fs-tablet: 2.25rem;
    --heading-fs-desktop: 2.5rem;
    --heading-lh: 110%;
}

/* #region Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
}

input, button, textarea, select {
    font: inherit;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* #endregion Reset */

/* general styles */
body {
    background-color:var(--primary-bg-color);
    font-family: var(--ff);
    font-size: var(--fs);

    display: grid;
    justify-content: center;
    text-align: center;  
}

header {
    display: grid;
    justify-content: center;
    margin: 2rem;
}

/* #region hero */
main {
    display: grid;
    margin: 2rem;
}

.hero {
    overflow: hidden;
}

.hero__photo{
    max-width: none;
    width: clamp(110vw, 120vw, 130vw);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

h1 {
    font-size: var(--hero-fs);
    font-weight: var(--fw);
    line-height: var(--hero-lh);
    color: var(--heading-color);

    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

p{
    color: var(--paragraph-color);
    font-size: var(--fs);
    font-weight: var(--paragraph-fw);
}

.hero__btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 1.5rem;
}

.btn {
    border-radius: 2rem;
    border: none;
    padding: 1rem 2.5rem;

    color: var(--button-par-color);
    line-height: var(--button-lh);
    font-size: var(--fs);
    font-weight: var(--fw);
    text-decoration: none;
}

.btn--1:hover  {
    background-color: var(--button-one-hover-bg-color);

}

.btn--2:hover {
    background-color: var(--button-two-hover-bg-color);
}

.btn--1 {    
    background-color: var(--button-one-bg-color);
}

.btn--1version {
    color: var(--button-one-version-color);
}

.btn--2 {    
    background-color: var(--button-two-bg-color);
}

.btn--2version {
    color: var(--button-two-version-color);
}
/* #endregion */

/* #region main content */
.main-content {
    margin: 6rem 0;
}

.mc__photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.mc-photo--style {
    border-radius: .5rem;
}

.mc__title {
    color: var(--title-color);
    font-size: var(--title-fs);
    font-weight: var(--fw);
    line-height: var(--title-lh);
    letter-spacing: var(--title-ls);
    text-transform: uppercase;

    margin-top: 4rem;
}

h3{
    font-size: var(--heading-fs);
    font-weight: var(--fw);
    line-height: var(--heading-lh);
}

.mc__head {
    color: var(--heading-color);

    margin: 1rem 0 2rem 0;
}
/* #endregion */

/* #region footer */
footer {
    padding: 4rem 2rem;
    background: 
        linear-gradient(
            rgba(var(--footer-rgb), var(--footer-opacity)), 
            rgba(var(--footer-rgb), var(--footer-opacity))
        ),
        url(./images/mobile/image-footer.jpg);
    background-size: cover;
    background-position: center;
}

footer h3, footer p {
    color: var(--footer-color);
    text-align: center;
}

footer p {
    font-weight: var(--paragraph-fw);
    margin: 1.5rem 0;
}

/* #endregion */

/* #region Hide Elements */
.hero__right-photo {
    display: none;
}

.hero__left-photo {
    display: none;
}
/* #endregion */

/* #region Media Queries */
@media (min-width: 48rem) {
    h1, h3, p {
        margin-left: auto;
        margin-right: auto;
    }

/* #region hero */
    .hero, .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4rem 0;
    }

    .hero__photo{
        width: 110vw;
        margin-left: 10rem;
    }

    h1 {
        font-size: var(--hero-fs-tablet);
        
        max-width: 20rem;
        margin-top: 4.5rem;
        margin-bottom: 1.5rem;
    }

    .hero p{
        max-width: 25rem;
    }

    .hero__btn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding-top: 1.5rem;
    }
/* #endregion */

/* #region main content */
    .mc__photos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 1rem;
    }

    .mc__title {
        font-size: var(--tittle-fs-tablet);
    }

    h3{
        font-size: var(--heading-fs-tablet);

        max-width: 30rem;
    }

    .main-content p {
        max-width: 32rem;
    }
/* #endregion */

/* #region footer */
    footer {
        background: 
            linear-gradient(
                rgba(var(--footer-rgb), var(--footer-opacity)), 
                rgba(var(--footer-rgb), var(--footer-opacity))
            ),
            url(./images/tablet/image-footer.jpg);
        background-position: center;
    }

    footer p{
        max-width: 32rem;
        
        margin-left: auto;
        margin-right: auto;
    }
/* #endregion */

}

@media (min-width: 64rem) {
/* #region generic */
    .hero__photo {
        display: none;
    }

    header {
        width: 100%;
        padding-top: 5rem;
    }

    main {
        width: 100%;
        margin: 0;
    }
/* #endregion */

/* #region hero */
    .hero {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 15rem;
        overflow: visible;
    }

    .hero__left-photo, .hero__right-photo {
        display: flex;
        flex-shrink: 0;
    }

    .hero__left-photo img, .hero__right-photo img {
        width: 25rem;
        height: auto;
    }

    .hero__left-photo {
        margin-left: -3rem;
    }

    .hero__right-photo {
        display: flex;
        margin-right: -3rem;
    }

    .hero__text {
        flex: 0 1 auto;
        padding: 0 8rem;
    }

    .hero h1 {
        font-size: var(--hero-fs-desktop);
        max-width: 28rem;
    }

    .hero p{
        font-size: var(--paragraph-fs-desktop);
        max-width: 28rem;
    }

    .hero__btn{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        padding-top: 2rem;
    }
/* #endregion */

/* #region main content */
    .mc__photos {
        padding: 0 10rem;
        max-width: 90rem;
    }

    .mc__title {
        font-size: var(--fs);
    }

    .main-content h3{
        max-width: 25rem;
    }

    .main-content p {
        max-width: 30rem;
    }

/* #endregion */

/* #region footer */
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 4rem 8rem;

        background: 
            linear-gradient(
                rgba(var(--footer-rgb), var(--footer-opacity)), 
                rgba(var(--footer-rgb), var(--footer-opacity))
            ), no-repeat
            url(./images/desktop/image-footer.jpg);
        background-position: center;
    }

    footer h3 {
        font-size: var(--heading-fs-desktop);
        max-width: 25rem;
        margin: 2rem;
        text-align: left;
    }

    footer p {
        font-size: var(--paragraph-fs-desktop);
        max-width: 23rem;
        margin: 2rem;
        text-align: left;
    }

/* #endregion */
}
/* #endregion Media Queries */
